 <!DOCTYPE html>
 <html>
 <head>
     <title></title>
 </head>
 <body>
 
 
 <div class="container-fluid" >


        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="#">Home</a></li> 
                    <li role="presentation"><a routerLink="/register">Sign Up</a></li>
                    <li role="presentation"><a routerLink="/login"> Sign In</a></li>
                   <!--  <li role="presentation" ><a routerLink="/login"> log out</a></li> -->
                    <router-outlet></router-outlet> 
                </ul>
            </nav>
            <h2 class="text-muted">Bucket list API</h2>
        </div>

</div>


<ng-content></ng-content>
</body>
 </html>